.basicLayout {
  height: 100vh;
  overflow: auto;

  .ant-pro-layout {
    height: 100%;

    .ant-pro-layout-content {
      padding-bottom: 96px;
    }

    .ant-pro-top-nav-header-menu {
      .ant-menu-item {
        transition: none !important;
      }
      /* 增强当前选中菜单项的样式 */
      .ant-menu-item-selected {
        //background-color: #1890ff !important;
        //color: white !important;
        font-weight: 700 !important;

        ///* 新增：选中项的悬停状态 */
        //&:hover {
        //  color: white !important; /* 保持白色文字 */
        //  background-color: #40a9ff !important; /* 悬停时稍亮的蓝色 */
        //}
      }

      /* 普通菜单项的悬停效果 */
      .ant-menu-item:not(.ant-menu-item-selected):hover {
        //color: #1890ff !important;
        //background-color: transparent !important;
      }
    }
  }
}
